.my-widget {
	margin-bottom: 15px;
	position: relative;
	width: 100%;
	text-align: left;
	background-color: white;
	border: 1px solid #2a63b9;
	position: relative;
}
.my-widget-header {
	margin-bottom: 10px;
	background-color: #2a63b9;
	color: white;
	padding: 3px 0;
}
.my-widget .App-logo {
	display: inline-block;
	vertical-align: bottom;
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
}
.my-widget-sender {
	display: inline-block;
	vertical-align: bottom;
	margin: 0 0 0 25px;
	font-size: 15px;
}
.my-widget-date {
	display: inline-block;
	vertical-align: bottom;
	margin: 0 0 0 5px;
	font-size: 11px;
}

.my-widget-message {
	margin: 0 0 10px 25px;
	width: 85%;
	font-size: 12px;
}

.my-widget button {
	display: block;
	font-size: 11px;
	position: absolute;
	right: 5px;
	bottom: 5px;
	height: 20px;
	width: 20px;
	text-align: center;
	border-radius: 50%;
	background-color: #e00000;
	color: white;
	border: none;
}