.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white;
}

.App-body {
  position: relative;
}

.App-intro {
  font-size: large;
}

.name-form {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 999;
}
.name-form input {
  height: 30px;
  min-width: 75px;
  line-height: 30px;
  padding: 0 50px 0 5px;
  transition: width .3s;
}
.name-form button {
  height: 34px;
  width: 50px;
  margin-left: -50px;
}

.widget-container {
  top: 50px;
  position: relative;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 414px) {
  .name-form {
    top: 0;
  }
  .name-form input, .name-form button {
    height: 40px;
  }
  .name-form input {
    width: calc(100% - 75px) !important;
    padding-right: 70px;
    border: none;
    border-bottom: 1px solid #222;
  }
  .name-form button {
    border: none;
    width: 70px;
    margin-left: -70px;
    border-left: 1px solid #222;
  }
}